<div class="container-2">
    <div class="row">
        <ng-container *ngFor="let user of alltheatreData">
            <div class="card col-md-2">
                <!-- <img src="../../assets/images/{{user.image}}" alt="poster"> -->
                <div class="descriptions">
                <h1>
                    {{user.theatrename}}</h1>
                <p>
                    Location : {{user.location}}<br>
                    Performane Time : {{user.performane}}<br>
                    Features : {{user.features}}<br>
                    Address : {{user.address}}<br>
                    Contact : {{user.contact}}
                </p>
                <!-- <button class="btn btn-primary" (click)=addtocart(item)>bo</button> -->
            
                <button>        
                    BOOK NOW
                </button>
                </div>
            </div>
        </ng-container>
    </div>
</div>








<div class="head">
    <h1>
        THEATRES
    </h1>
</div>
<section class="sec-theatre">
 
<div class="container-1">
    <div class="card-1">
        <div class="card-list">
            <h4>THEATRES FEATURES</h4>
            <hr>
            <ul>
                <h5>AMENITIES</h5>
                <li>F&B</li>
                <li>Meto Train</li>
                <li>Parking</li>
                <li>Social Seating</li>   
            </ul>
            <hr>
            <ul>
                <h5>EXPERIENCE</h5>
                <li>RGB Laser</li>
                <li>Dolby Atmos</li>
                <li>2K</li>
                <li>4K</li>
                <li>Dolby 7.1</li>
                <li>Sofa</li>
                <li>3D</li>
                <li>Dolby Audio</li>
            </ul>
        </div>
        <hr>
    </div>
</div>

<div class="container-2">
        
    <div class="card-2">
        <div class="title">
            <img src="../../assets/images/T-logo-3.png">
                <div>
                    <h2>ARRS Multifles 4k</h2>
                    <p>Chennai</p>
                    <span>F&D</span><span>Sofa</span><span>4K</span><span>Dolby</span><span>3D</span>
                </div>
                    <div>
                        <button class="btn" type="button">BOOK NOW</button>
                    </div>
        </div>
<hr>

        <div class="title">
            <img src="../../assets/images/T-logo-3.png">
                <div>
                    <h2>ARRS Multifles 4k</h2>
                    <p>Chennai</p>
                    <span>F&D</span><span>Sofa</span><span>4K</span><span>Dolby</span><span>3D</span>
                </div>
                    <div>
                        <button class="btn" type="button">BOOK NOW</button>
                    </div>
        </div>
<hr>
        <div class="title">
            <img src="../../assets/images/T-logo-3.png">
                <div>
                    <h2>ARRS Multifles 4k</h2>
                    <p>Chennai</p>
                    <span>F&D</span><span>Sofa</span><span>4K</span><span>Dolby</span><span>3D</span>
                </div>
                    <div>
                        <button class="btn" type="button">BOOK NOW</button>
                    </div>
        </div>
<hr>
       
    <div class="title">
        <img src="../../assets/images/T-logo-3.png">
            <div>
                <h2>ARRS Multifles 4k</h2>
                <p>Chennai</p>
                <span>F&D</span><span>Sofa</span><span>4K</span><span>Dolby</span><span>3D</span>
            </div>
                <div>
                    <button class="btn" type="button">BOOK NOW</button>
                </div>
    </div>
<hr>


    <div class="title">
        <img src="../../assets/images/T-logo-3.png">
            <div>
                <h2>ARRS Multifles 4k</h2>
                <p>Chennai</p>
                <span>F&D</span><span>Sofa</span><span>4K</span><span>Dolby</span><span>3D</span>
            </div>
        <div>
            <button class="btn" type="button">BOOK NOW</button>
        </div>
    </div>
<hr>

    <div class="title">
        <img src="../../assets/images/T-logo-3.png">
            <div>
                <h2>ARRS Multifles 4k</h2>
                <p>Chennai</p>
                <span>F&D</span><span>Sofa</span><span>4K</span><span>Dolby</span><span>3D</span>
            </div>
        <div>
            <button class="btn" type="button">BOOK NOW</button>
        </div>
    </div>
<hr>

    <div class="title">
        <img src="../../assets/images/T-logo-3.png">
            <div>
                <h2>ARRS Multifles 4k</h2>
                <p>Chennai</p>
                <span>F&D</span><span>Sofa</span><span>4K</span><span>Dolby</span><span>3D</span>
            </div>
        <div>
            <button class="btn" type="button">BOOK NOW</button>
        </div>
    </div>
<hr>


    <div class="title">
        <img src="../../assets/images/T-logo-3.png">
            <div>
                <h2>ARRS Multifles 4k</h2>
                <p>Chennai</p>
                <span>F&D</span><span>Sofa</span><span>4K</span><span>Dolby</span><span>3D</span>
            </div>
        <div>
            <button class="btn" type="button">BOOK NOW</button>
        </div>
    </div>
<hr>>

    <div class="title">
        <img src="../../assets/images/T-logo-3.png">
            <div>
                <h2>ARRS Multifles 4k</h2>
                <p>Chennai</p>
                <span>F&D</span><span>Sofa</span><span>4K</span><span>Dolby</span><span>3D</span>
            </div>
        <div>
            <button class="btn" type="button">BOOK NOW</button>
        </div>
    </div>
<hr>

    <div class="title">
        <img src="../../assets/images/T-logo-3.png">
            <div>
                <h2>ARRS Multifles 4k</h2>
                <p>Chennai</p>
                <span>F&D</span><span>Sofa</span><span>4K</span><span>Dolby</span><span>3D</span>
            </div>
        <div>
            <button class="btn" type="button">BOOK NOW</button>
        </div>
    </div>
<hr>

    <div class="title">
        <img src="../../assets/images/T-logo-3.png">
            <div>
                <h2>ARRS Multifles 4k</h2>
                <p>Chennai</p>
                <span>F&D</span><span>Sofa</span><span>4K</span><span>Dolby</span><span>3D</span>
            </div>
        <div>
            <button class="btn" type="button">BOOK NOW</button>
        </div>
    </div>
<hr>

    <div class="title">
        <img src="../../assets/images/T-logo-3.png">
            <div>
                <h2>ARRS Multifles 4k</h2>
                <p>Chennai</p>
                <span>F&D</span><span>Sofa</span><span>4K</span><span>Dolby</span><span>3D</span>
            </div>
        <div>
            <button class="btn" type="button">BOOK NOW</button>
        </div>
    </div>
<hr>

    <div class="title">
        <img src="../../assets/images/T-logo-3.png">
            <div>
                <h2>ARRS Multifles 4k</h2>
                <p>Chennai</p>
                <span>F&D</span><span>Sofa</span><span>4K</span><span>Dolby</span><span>3D</span>
            </div>
        <div>
            <button class="btn" type="button">BOOK NOW</button>
        </div>
    </div>
<hr>


    <div class="title">
        <img src="../../assets/images/T-logo-3.png">
            <div>
                <h2>ARRS Multifles 4k</h2>
                <p>Chennai</p>
                <span>F&D</span><span>Sofa</span><span>4K</span><span>Dolby</span><span>3D</span>
            </div>
        <div>
            <button class="btn" type="button">BOOK NOW</button>
        </div>
    </div>
<hr>


    </div>
</div>
</section>