
        <div class="row">
            <div class="col">
                <h1>Welcome..!</h1>
                <h2>Movie <span>TICKET</span> Booking</h2>
                <p>Enjoy Your Show..!</p>
                <button class="btn" id="btn1"routerLink="/login" routerLinkActive="active">LOG IN</button>
                <button class="btn" id="btn2" routerLink="/signup" routerLinkActive="active">SIGN UP</button>
            </div>
    
            
            <div class="col">
                <div class="cards card1">
                </div>
                
                <div class="cards card2">
                </div>
                
                <div class="cards card3">    
                </div>
                
                <div class="cards card4  ">
                </div>
            </div>
        </div>

        
<div class="head">
    <h1>
        MOVIES
    </h1>
</div>
<section class="wrapper">
<div class="card  ">
    <img src="../../../assets/images/don_movie.jpg">
        <div class="descriptions">
            <h1>DON</h1>
            <p>
                Directed :	Cibi Chakaravarthi
                Written :	Cibi Chakaravarthi
                Produced :	Allirajah Subaskaran Sivakarthikeyan
                Starring :	Sivakarthikeyan Priyanka Arul Mohan S. J. Suryah Samuthirakani Soorit</p>
                <button>
                     
                        BOOK NOW
                </button>
        </div>
</div>

<div class="card  ">
    <img src="../../../assets/images/nenjiku neethi.jpg">
        <div class="descriptions">
            <h1>NENJIKU NEETHI</h1>
            <p>Directed : Arunraja Kamaraj<br>
                Produced : Boney Kapoor<br>
                Starring : Udhayanidhi Stalin
                Aari Arujunan </p>
                <button>
                     
                        BOOK NOW
                </button>
        </div>
</div>
<div class="card  ">
    <img src="../../../assets/images/kgf2.jpg">
        <div class="descriptions">
            <h1>K.G.F: CHAPTER 2  </h1>
            <p> 
                Directed :	Prashanth Neel<br>
                Written :	Prashanth Neel<br>                   
                Produced :	Vijay Kiragandur<br>
                Starring :	Yash Sanjay Dutt Raveena Tandon Srinidhi Shetty Prakash Raj</p>
                <button>
                     
                        BOOK NOW
                </button>
        </div>
</div>
<div class="card  ">
    <img src="../../../assets/images/doctor-strange.jpg">
        <div class="descriptions">
            <h1>DOCTOR STRANGE </h1>
            <p> Directed :	Scott Derrickson<br>
                Written :	
                Jon Spaihts<br>
                Produced :	Kevin Feige<br>
                Starring :	
                Benedict Cumberbatch
                Chiwetel Ejiofor
                Tilda Swinton<br>
                   </p>
                <button>
                     
                        BOOK NOW
                </button>
        </div>
</div>
</section>
<div class="view-more">
    <a routerLink="/movies" routerLinkactive="active">VIEW MORE<i class="bi bi-arrow-right-circle"></i></a>
</div>

    
    
