<div class="head">
    <h1>COMING SOON</h1>
</div>
<section>
    <div class="wrapper">
    <div class="card  ">
        <img src="../../../assets/images/vikram.jpg">
            <div class="descriptions">
                <h1>VIKRAM</h1>
                <p>
                    Directed :	Lokesh Kanagaraj<br>
                    Written : Lokesh Kanagraj<br>
                    Dialogue :	Rathna Kumar<br>
                    Produced :	Kamal Haasan R. Mahendran<br>
                    Starring :	kamal Haasan Vijay Sethupathi Fahadh Faasil
                    Release Date : 03 Jun, 2022</p>
                    <button>
                            BOOK NOW
                    </button>
            </div>
    </div>

    <div class="card  ">
        <img src="../../../assets/images/maayon.jpg">
            <div class="descriptions">
                <h1>MAAYON</h1>
                <p>Directed : kishore<br>
                    Produced : Boney Kapoor<br>
                    Starring : Sibirj Aari Arujunan
                    Release Date : 17 Jun, 2022  </p>
                    <button>      
                            BOOK NOW
                    </button>
            </div>
    </div>

    <div class="card  ">
        <img src="../../../assets/images/yanai.avif">
            <div class="descriptions">
                <h1>YANAI</h1>
                <p>Directed : Hari<br>
                    Produced : Boney Kapoor<br>
                    Starring : Sibirj Aari Arujunan
                    Release Date : 17 Jun, 2022 </p>
                    <button>      
                            BOOK NOW
                    </button>
            </div>
    </div>

    <div class="card  ">
        <img src="../../../assets/images/viruman.webp">
            <div class="descriptions">
                <h1>VIRUMAN</h1>
                <p>Directed :	M. Muthaiah
                    Written :	M. Muthaiah
                    Produced :	Suriya
                    Jyothika
                    Starring :	Karthi
                    Aditi Shankar Prakash Raj Soori </p>
                    <button>      
                            BOOK NOW
                    </button>
            </div>
    </div>

    <div class="card  ">
        <img src="../../../assets/images/maha.jpg">
            <div class="descriptions">
                <h1>MAHA</h1>
                <p>Maha is Tamil movie starring Hansika Motwani in a prominent role.
                     It is a drama directed by U. R. Jameel. </p>
                    <button>      
                            BOOK NOW
                    </button>
            </div>
    </div>
    <div class="card  ">
        <img src="../../../assets/images/maamainthan.jpg">
            <div class="descriptions">
                <h1>MAAMANITHAN</h1>
                <p>Directed :	Seenu Ramasamy
                    Written :	Seenu Ramasamy
                    Produced :	Yuvan Shankar Raja
                    Shan Sutharasan
                    Starring :	Vijay Sethupathi Gayathrie Guru Somasundaram </p>
                    <button>      
                            BOOK NOW
                    </button>
            </div>
    </div>

    <div class="card  ">
        <img src="../../assets/images/Cobra.jpg">
            <div class="descriptions">
                <h1>COBRA</h1>
                <p>Directed :	Seenu Ramasamy
                    Written :	Seenu Ramasamy
                    Produced :	Yuvan Shankar Raja
                    Shan Sutharasan
                    Starring :	Vijay Sethupathi Gayathrie Guru Somasundaram </p>
                    <button>      
                            BOOK NOW
                    </button>
            </div>
    </div>

    <div class="card  ">
        <img src="../../assets/images/kuruthi-attam.webp">
            <div class="descriptions">
                <h1>KURUTHI AATTAM</h1>
                <p>Directed :	Seenu Ramasamy
                    Written :	Seenu Ramasamy
                    Produced :	Yuvan Shankar Raja
                    Shan Sutharasan
                    Starring :	Vijay Sethupathi Gayathrie Guru Somasundaram </p>
                    <button>      
                            BOOK NOW
                    </button>
            </div>
    </div>

    <div class="card  ">
        <img src="../../assets/images/vendhu-kanindhathu-kaadu.jpg">
            <div class="descriptions">
                <h1>VENDHU KANITHA KAADU</h1>
                <p>Directed :	Seenu Ramasamy
                    Written :	Seenu Ramasamy
                    Produced :	Yuvan Shankar Raja
                    Shan Sutharasan
                    Starring :	Vijay Sethupathi Gayathrie Guru Somasundaram </p>
                    <button>      
                            BOOK NOW
                    </button>
            </div>
    </div>

    <div class="card  ">
        <img src="../../assets/images/adhigaaram.jpg">
            <div class="descriptions">
                <h1>ADHIGAARAM</h1>
                <p>Directed :	Seenu Ramasamy
                    Written :	Seenu Ramasamy
                    Produced :	Yuvan Shankar Raja
                    Shan Sutharasan
                    Starring :	Vijay Sethupathi Gayathrie Guru Somasundaram </p>
                    <button>      
                            BOOK NOW
                    </button>
            </div>
    </div>

    <div class="card  ">
        <img src="../../assets/images/indian2.jpg">
            <div class="descriptions">
                <h1>INDIAN 2</h1>
                <p>Directed :	Seenu Ramasamy
                    Written :	Seenu Ramasamy
                    Produced :	Yuvan Shankar Raja
                    Shan Sutharasan
                    Starring :	Vijay Sethupathi Gayathrie Guru Somasundaram </p>
                    <button>      
                            BOOK NOW
                    </button>
            </div>
    </div>


    <div class="card  ">
        <img src="../../../assets/images/vitla vishiyasam.webp">
            <div class="descriptions">
                <h1>VIRUMAN</h1>
                <p>Directed :	M. Muthaiah
                    Written :	M. Muthaiah
                    Produced :	Suriya
                    Jyothika
                    Starring :	Karthi
                    Aditi Shankar Prakash Raj Soori </p>
                    <button>      
                            BOOK NOW
                    </button>
            </div>
    </div>
</div>
</section>