<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<footer class="footer_area">
			<div class="container">
				<div class="row">				
					<div class="col-md-3 col-sm-6">
						<div class="single_ftr">
							<h4 class="sf_title">BROWSE ALL</h4>
							<ul>
								<li><a href="https://www.techuz.com/blog/must-have-features-for-developing-a-movie-ticket-booking-platform-like-fandango/">Blog</a></li>
                                <li><a href="#">Now Showing</a></li>
                                <li><a href="#">All Movies</a></li>
                                <li><a href="#">Coming Soon</a></li>
                                <li><a href="#">Cinemas</a></li>
							</ul>
						</div>
					</div>
					
					<div class="col-md-3 col-sm-6">
						<div class="single_ftr">
							<h4 class="sf_title">LINKS</h4>
							<ul>
								<li><a href="#">Register</a></li>
								<li><a href="#">Login</a></li>
								<li><a href="#">Boxoffice Software</a></li>
								<li><a href="#">Help</a></li>
								<li><a href="#">How to use Coupons</a></li>
							</ul>
						</div>
					</div> 
					
					<div class="col-md-3 col-sm-6">
						<div class="single_ftr">
							<h4 class="sf_title">ENQUIRIES</h4>
							<ul>
								<li><a href="#">Events</a></li>
								<li><a href="#">Support</a></li>
								<li><a href="#">Theatre Owners</a></li>
								<li><a href="#">Advertising</a></li>
								<li><a href="#">Technical Support</a></li>
							</ul>
						</div>
					</div>
					
					<div class="col-md-3 col-sm-6">
						<div class="single_ftr">
							<h4 class="sf_title">CONTACT US</h4>
							<div class="newsletter_form">
								<form method="post" class="form-inline">				
									<input name="EMAIL" id="email" placeholder="Enter Your Email" class="form-control" type="email">
									<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
								</form>
							</div>
						</div>
					</div> 
					
				</div>
			</div>
	
		
			<div class="ftr_btm_area">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="ftr_social_icon">
								<ul>
									<li><a href="https://www.facebook.com/Cinematicketchannel/"><i class="bi bi-facebook"></i></a></li>
									<li><a href="https://www.ticketnew.com/Movie-Ticket-Online-booking/C/Chennai"><i class="bi bi-google"></i></a></li>
									<li><a href="https://in.linkedin.com/in/moviebooking-script-a442158b"><i class="bi bi-linkedin"></i></a></li>
									<li><a href="https://twitter.com/theatreschennai?lang=en"><i class="bi bi-twitter"></i></a></li>
									<li><a href="https://www.fandango.com/rss/moviefeed"><i class="bi bi-rss"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-4">
							<p class="copyright_text text-center">Copyright© 2022 Newone Tickets Pvt. Ltd. All rights reserved. Terms of use Privacy Policy</p>
						</div>
						
						<div class="col-sm-4">
							<div class="ftr_social_icon">
								<ul>
                                    <li><a href="https://www.instagram.com/cinematicketchannel/?hl=en"><i class="bi bi-instagram"></i></a></li>
									<li><a href="https://www.cmarix.com/blog/all-you-want-to-know-about-online-movie-ticket-booking-app-and-website-development/"><i class="bi bi-skype"></i></a></li>
									<li><a href="https://www.microsoft.com/en-us/microsoft-365/business/scheduling-and-booking-app"><i class="bi bi-microsoft"></i></a></li>
									<li><a href="https://www.youtube.com/"><i class="bi bi-youtube"></i></a></li>
									<li><a href="https://web.telegram.org/z/"><i class="bi bi-telegram"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>