<div class="row">
    <div class="col-75">
        <div class="container">
            <form [formGroup]="checkinForm" (ngSubmit)="movies(this.checkinForm.value)">
                
                        <h3>MOVIE DETIALS</h3>


                        <div class="form-group" [class.has-error]="movietitle.invalid && movietitle.touched">
                            <label for="movietitle">Movie Title :</label>
                            <input type="text" id="movietitle" name="movietitle" required placeholder="Movie Title" class="form-control"
                                formControlName="movietitle">
                            <div class="help-block text-danger" *ngIf="movietitle.touched">
                                <span *ngIf="movietitle.errors?.required"> Movietitle is required!!! </span>
                            </div>
                        </div>


                    <div class="form-group" [class.has-error]="director.invalid && director.touched">
                        <label for="director">Directed By :</label>
                        <input type="text" id="director" name="director" placeholder="Director Name" required class="form-control"
                            formControlName="director">
                        <div class="help-block text-danger" *ngIf="director.touched">
                            <span *ngIf="director.errors?.required"> Director Name is required!!! </span>
                        </div>
                    </div>

                    <div class="form-group" [class.has-error]="producer.invalid && producer.touched">
                        <label for="producer">Produced By</label>
                        <input type="text" id="producer" name="producer" placeholder="Producer Name" required class="form-control"
                            formControlName="producer">
                        <div class="help-block text-danger" *ngIf="producer.touched">
                            <span *ngIf="producer.errors?.required"> Producer Name is required!!! </span>
                        </div>
                    </div>

                    <div class="form-group" [class.has-error]="date.invalid && date.touched">
                        <label for="date">Release Date :</label>
                        <input type="date" id="date" name="producer" placeholder="Release Date" required class="form-control"
                            formControlName="date">
                        <div class="help-block text-danger" *ngIf="date.touched">
                            <span *ngIf="date.errors?.required"> Release Date is required!!! </span>
                        </div>
                    </div>

                    <div class="form-group" [class.has-error]="staring.invalid && staring.touched">
                        <label for="staring">Staring By</label>
                        <input type="text" id="staring" name="staring" placeholder="Actors name" required class="form-control"
                            formControlName="staring">
                        <div class="help-block text-danger" *ngIf="staring.touched">
                            <span *ngIf="staring.errors?.required"> Actors Name is required!!! </span>
                        </div>
                    </div>

                    <div class="form-group" [class.has-error]="image.invalid && image.touched">
                        <label for="image">Movie Poster</label>
                        <input type="type" id="image" name="image" placeholder="Movie Poster" required class="form-control"
                            formControlName="image">
                        <div class="help-block text-danger" *ngIf="image.touched">
                            <span *ngIf="image.errors?.required"> Poster is required!!! </span>
                        </div>
                    </div>

                    <input type="submit" value="UPDATE MOVIE DATA" class="btn">

            </form>