<div class="container-1">
    <div class="navbar">

        <input type="text" class="input" placeholder="Location"><i class="bi bi-geo-alt-fill" style="font-size:20px; color: red;"></i>
        <nav>
            <ul>
                <li><a routerLink="/home" routerLinkActive="active">HOME</a></li>
                <li><a routerLink="/movies" routerLinkActive="active" (click)="getmovie()">MOVIES</a></li>
                <li><a routerLink="/upcoming-movie" routerLinkActive="active">UPCOMING MOVIES</a></li>
                <li><a routerLink="/theatre" routerLinkActive="active">THEATRES</a></li>
                <li><a href="#">BOOKINF DETIALS</a></li>
                <li><a routerLink="/events" routerLinkActive="active">EVENTS</a></li>  
                <li><a routerLink="/admin-lgin" routerLinkActive="active"><i class="bi bi-person-circle" style="font-size:20px; color: red"></i></a></li>     
            </ul>
        </nav>

    </div>
</div>

    <router-outlet></router-outlet>
